<?xml version="1.0"?>
<config>
    <modules>
        <Smarthint_Recommendation>
            <version>1.1.2</version>
        </Smarthint_Recommendation>
    </modules>
    <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Smarthint_Recommendation</module>
                 <frontName>smarthint</frontName>
              </args>
           </routeurfrontend>
       </routers>
    </frontend>
    <global>
        <helpers>
            <smarthint>
                <class>Smarthint_Recommendation_Helper</class>
            </smarthint>
        </helpers>
         <models>
            <smarthint>
                <class>Smarthint_Recommendation_Model</class>
            </smarthint>
        </models>
    	<events>
            <sales_order_save_after>
                 <observers>
                    <Smarthint_Recommendation>
                        <class>Smarthint_Recommendation_Model_Observer</class>
                        <method>handleOrder</method>
                    </Smarthint_Recommendation>
                </observers>
            </sales_order_save_after>
            <!-- <catalog_product_save_commit_after>
                <observers>
                    <Smarthint_Recommendation>
                        <class>Smarthint_Recommendation_Model_Observer</class>
                        <method>handleProduct</method>
                    </Smarthint_Recommendation>
                </observers>
            </catalog_product_save_commit_after> -->
            <catalog_category_save_commit_after>
                <observers>
                    <Smarthint_Recommendation>
                        <class>Smarthint_Recommendation_Model_Observer</class>
                        <method>handleCategory</method>
                    </Smarthint_Recommendation>
                </observers>
            </catalog_category_save_commit_after>
            <admin_system_config_changed_section_smarthint>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Smarthint_Recommendation_Model_Observer</class>
                        <method>saveIdentfy</method>
                    </module>
                </observers>
            </admin_system_config_changed_section_smarthint>
    	</events>
	</global>
</config>
